@-webkit-keyframes dropAlert {
  0%, 100% {
    -webkit-transform: translate(-50%, -200px);
            transform: translate(-50%, -200px);
  }
  20%, 80% {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }
}
@keyframes dropAlert {
  0%, 100% {
    -webkit-transform: translate(-50%, -200px);
            transform: translate(-50%, -200px);
  }
  20%, 80% {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }
}
:root {
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body {
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  -webkit-box-shadow: 0 0 50px #000 inset;
          box-shadow: 0 0 50px #000 inset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("https://4kwallpapers.com/images/walls/thumbs_3t/18778.jpeg");
  background-size: cover;
  background-position: 50%;
}

.alert {
  -webkit-transform: translate(-200px, -300px);
          transform: translate(-200px, -300px);
  padding: 14px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid;
  z-index: 9;
  width: 100%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: 100%;
  border-radius: 11px;
  text-align: center;
}

.container {
  width: 40%;
  height: 100%;
  border: 1px solid white;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  -webkit-box-shadow: 0 0 10px #000000;
          box-shadow: 0 0 10px #000000;
}
.container .clock {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
}
.container .clock #time {
  font-size: 4rem;
  font-weight: bold;
  color: white;
}

.clock {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
}
.clock #time {
  font-size: 4rem;
  font-weight: bold;
  color: white;
}

.add-alarm-control {
  background-color: rgba(0, 0, 0, 0.8196078431);
  border: 1px solid white;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0px;
}
.add-alarm-control.hidden {
  top: 100%;
}
.add-alarm-control .close-popup {
  right: 1.3rem;
  top: 1rem;
}
.add-alarm-control .set-your-alarm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.add-alarm-control .set-your-alarm select {
  padding: 10px;
  font-size: 2rem;
  background-color: transparent;
  color: white;
  border: 0px solid transparent;
}
.add-alarm-control .set-your-alarm select:focus-visible {
  outline: none;
}
.add-alarm-control .set-your-alarm select option {
  color: #000;
  background-color: rgba(255, 255, 255, 0.3764705882);
  -webkit-backdrop-filter: blur(6px-);
          backdrop-filter: blur(6px-);
}
.add-alarm-control .submit-section {
  padding: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.add-alarm-control .submit-section input[type=file] {
  background-color: transparent;
  font-size: 1rem;
  padding: 20px;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid white;
}
.add-alarm-control .submit-section #submit {
  display: block;
  font-weight: bold;
  padding: 15px 30px;
  background-color: transparent;
  text-transform: uppercase;
  color: white;
  outline: none;
  border: 1px solid white;
}
.add-alarm-control .submit-section #submit:focus {
  outline: none;
}

/* Base styling for the audio player container */
.audio-player {
  width: 100%;
  height: 100%;
  padding: 25px;
  -webkit-transition: 1.2s;
  transition: 1.2s;
  border: 1px solid white;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.9176470588);
  -webkit-box-shadow: 0 0 10px #000000;
          box-shadow: 0 0 10px #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  top: 0;
}
.audio-player .circle {
  width: 150px;
  height: 150px;
  padding: 10px;
  background-color: blue;
  -webkit-box-shadow: 0 0 10px -3px #000;
          box-shadow: 0 0 10px -3px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-wrap: wrap;
  text-align: center;
}
.audio-player .circle:first-child {
  -webkit-animation: up-down 1.5s linear infinite;
          animation: up-down 1.5s linear infinite;
}
.audio-player .circle:last-child {
  -webkit-animation: down-up 1.5s linear infinite;
          animation: down-up 1.5s linear infinite;
}
.audio-player .circle:hover {
  background-color: rgba(0, 0, 0, 0.5333333333);
}
.audio-player.hidden {
  top: 100%;
}
.audio-player.hidden .circle {
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes up-down {
  0%, 35%, 100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  30%, 80% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

@keyframes up-down {
  0%, 35%, 100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  30%, 80% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}
@-webkit-keyframes down-up {
  0%, 35%, 100% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  30%, 80% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
}
@keyframes down-up {
  0%, 35%, 100% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  30%, 80% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
}
/* Play/Pause button */
#alarms-list {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  max-height: 100%;
  padding: 2rem;
  letter-spacing: 3px;
  color: #fff;
}
#alarms-list p {
  display: block;
  margin: 0;
  padding: 0;
}
#alarms-list .remove-alarm:hover svg {
  color: red;
}
#alarms-list .remove-alarm svg {
  -webkit-transition: 0.02s;
  transition: 0.02s;
  color: #fff;
}

@media (max-width: 1570px) {
  .container {
    width: 50%;
  }
}
@media (max-width: 1270px) {
  .container {
    width: 60%;
  }
}
@media (max-width: 991px) {
  :root {
    font-size: 10px;
  }
  .container {
    width: 80%;
  }
}
@media (max-width: 764px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 530px) {
  .container {
    width: 100%;
    border-radius: 0;
    padding: 2rem;
  }
}
@media (max-width: 400px) {
  :root {
    font-size: 7px;
  }
}
@media (max-width: 200px) {
  :root {
    font-size: 5px;
  }
}